body {
  padding-top: 50px;  /* Shift everything down to account for the navbar */
}
.btn-default {
  /*color: #007838;*/
}
.xlarge {
  font-size: 26px;
  font-weight: 300;
  line-height: 1em;
}
.large {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3em;
}

.navbar-brand.readonly:hover,
.navbar-brand.readonly:focus {
    background-color: transparent;
}

a.navbar-brand:before {
  content: url('../images/icon-transparent-20x20.png');
}
.navbar-brand-text {
  display: inline-block;
  vertical-align: top;
  padding-left: 4px;
}

#error-container {
  color: red;
  margin: 0 auto;
  width: 400px;
}

.background.color--gray-keyline {
  background-color: #e0e0e0;
}

.form-bar {
  display: -webkit-flex;
  display: flex;
}

.form-bar > button {
  margin: 10px 10px 10px 0;
}

.first-button {
  margin-left: 10px !important;
}

.spacer {
  -webkit-flex: 1;
  flex: 1;
}

div.spacer {
  display: inline-block;
}

.login-form #password {
  margin-bottom: 20px;
}

.app-content {
  border: 1px solid gray;
  padding-top: 20px;
}

#go-arrow {
  margin-left: 7px;
}

.attendance-search {
  display: inline-block;
  padding-top: 70px;
  min-width: 284px;
  width: 48%;
}

/*#service-options {
  display: none;
}*/

.attendance-search > label,
.attendance-search > #service-options  label {
    width: 155px;
    display: inline-block;
}

#service-options select {
    width: 120px;
}

.campus-text {
  text-align: center;
  padding: 0px;
}

#visitors-container {
  margin: 10px 0;
}

#visitors-container > input {
  width: 70px;
}

#visitors-second-service {
    margin-top: 5px;
}

#visitors-container > button {
  margin-left: 10px;
}

.attendance-stats {
  display: inline-block;
  padding: 0;
  margin: 0;
  float: right;
  margin: 20px 10px 10px 0;
  min-width: 230px;
  width: 48%;
}

.attendance-stats > table {
  margin-top: 10px;
}

.attendance-table-container {
  max-height: 500px;
  width: 100%;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.attendance-table>thead>tr>td, 
.attendance-table>tbody>tr>td, 
.attendance-table>tfoot>tr>td {
  padding: 0 8px;
  vertical-align: middle;
}

#address-view-table-container {
  max-height: 500px;
  width: 100%;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#gen-map {
  margin-left: 20px;
}

.dialog-form-inner>label[for=add-to-spouse] {
  width: 120px;
}

#follow-up-table-container {
  max-height: 500px;
  width: 100%;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#relationship-table-container {
  max-height: 500px;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#follow-up-table td {
  padding: 5px 10px;
}

#attendance-date-display {
  text-align: center;
  /* border-bottom: 1px solid; */
  /* border-top: 1px solid; */
  padding: 0px;
}

.table-bar {
  margin: 20px;
}

.navigation-links {
  /*display: inline-block;*/
  float: right;
}

.navigation-links > div {
  display: inline-block;
}

.jump-to {
  margin-right: 10px;
}

.dialog-form #search-table-container {
  overflow-y: scroll;
  height: 250px;
  /*width: 464px;*/
}

.dialog-form .navigation-links {
  margin: 0 20px 0 0;
}

.dialog-form #search-table-container {
  overflow-y: scroll;
  max-height: 500px;
}

.dialog-form #search-table-container table {
  margin-top: 5px;
}

.dialog-form #search-table-container table td {
  padding: 8px 10px;
}

.search-table-button-col {
  padding: 5px;
}

#person-attendance-table-container {
  overflow-y: scroll;
  height: 300px;
}

.relationship-table-button-col {
  width: 90px !important;
  padding: 0 0 0 10px !important;
  text-align: center;
}

.follow-up-table-button-col {
  width: 90px !important;
  padding: 0 0 0 10px !important;
  text-align: center;
}

.follow-up-table-date-col {
  width: 80px !important;
  padding: 0 10px 0 10px;
}

.follow-up-table-comments-col {
  width: 200px !important;
}

.attendance-table-attendance-col {
  width: 30px !important;
}

.report-attendance-table-attendance-col {
  text-align: center;
}

#missing-for {
	width: 50px;
}

.row-header {
  text-align: center;
  background-color: #009344 !important;
  color: white;
}

.attendance-history-button {
  margin-right: 10px;
}

.app-content label {
  padding-left: 20px;
  padding-right: 10px;
}

.app-content.login-form {
  padding-top: 20px;
  /* margin-left: 20px; */
}

.app-content.login-form label,
.app-content.reports-form label {
  display: inline-block;
  width:150px;
  text-align: right;
}

#follow-ups-form-title {
  margin-left: 20px;
}

#follow-up-unknown-date-container {
    display: inline-block;
}

#follow-up-person-container,
#relationship-person-container {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 10px;
}
#follow-up-person-container>label {
  padding-top: 10px;
  width: 110px;
  text-align: right;
}
#relationship-person-container>label {
  padding-top: 10px;
  width: 70px;
}
.manage-person-relationship-form .dialog-form-inner>label {
  width: 70px;
}

#follow-up-person-container>button,
#relationship-person-container>button {
  margin-top: 0;
}

#follow-up-person-container>div,
#relationship-person-container>div{
  display: inline-block;
  padding-right: 20px;
  padding-top: 10px;
  font-style: italic;
}

.follow-ups-form #follow-up-comments {
  margin-left: 110px;
}

.follow-ups-form-inner>label {
  display: inline-block;
  width: 110px;
  text-align: right;
}

.follow-ups-form-inner > .communication-card-options {
  margin-left: 112px;
}

.dialog-form-inner>label {
  display: inline-block;
  width: 50px;
}

.dialog-form-inner {
  height: 256px;
  overflow-y: scroll;
}

.manage-person-follow-up-form .dialog-form-inner {
  height: 290px;
}

#follow-up-visitors {
  font-style: italic;
  display: inline;
}

#first-recorded-visit,
#last-recorded-visit {
  display: inline-block;
}

.legend {
    margin-top: 25px;
}

.legend > .item * {
    vertical-align: middle;
}

.legend > .item > .text {
    display: inline-block;
}

.legend-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    border: 1px solid gray;
    margin-left: 10px;
}

.dashboard .legend {
  margin-top: 0;
}

#email-summary {
    margin-right: 10px;
}

.first-time-visitor {
    background-color: #8FFD3B !important;
}

#manage-unknown-date {
  margin-left: 25px;
}

.check-field {
  display: inline-block;
}

.check-field input {
  margin: 0 5px 0 0;
}
.check-field label {
  padding-right: 15px;
}

.app-content .check-field label {
  padding-left: 0px;
}

.app-content.view-person,
.app-content.reports-form {
  padding-top: 20px;
}

.app-content.view-person label {
  display: inline-block;
  width: 175px;
  text-align: right;
}

.app-content .active-input label {
  padding-left: 0px;
  padding-right: 0px;
}

.app-content .active-input {
/*  display: inline-block;*/
}

.app-form input[type=text],
.app-form input[type=tel],
.app-form input[type=email],
.app-form select {
  margin-bottom: 5px;
}

.delete-follow-up, .delete-relationship {
  color: red;
}

.form-section {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 10px 5px 0;
}

#address-view-table label {
  width: 90px;
  padding: 0px;
  text-align: center;
}

.address-view-form label {
  width: 120px;
  text-align: right;
  display: inline-block;
}

#communication-card-header {
  padding: 10px 0 5px 20px;
}

.follow-ups-form {
  margin: 20px;
  border: 1px gray solid;
  border-radius: 5px;
}

.follow-ups-form-inner {
  padding: 10px;
}

#follow-up-options {
  margin: 5px 0 0 50px;
  border: 1px gray solid;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
}

#follow-up-options label {
  width: 270px;
  text-align: left;
  padding-left: 10px;
}

#include-all-checkboxes {
  margin-bottom: 10px;
}

div.setting {
  text-align: center;
  width: 100%;
}
.setting textarea {
  width: 90%;
}

input.setting {
  width: 100px;
  margin-left: 40px;
}

.address-panel label {
  width: 100px !important;
}
.address-panel input {
  width: 175px !important;
}

.address-panel button {
    float: right;
}

.row .interested-panel label,
.row .commitments-panel label {
  /*width:500px;*/
  width: 85%;
  text-align: left;
}

.dialog-form .communication-card-options .row {
  margin: 0;
}
.dialog-form .communication-card-options .col-sm-11 {
  width: 100%;
  padding-left: 0;
}

.communication-card-options input[type=checkbox] {
	vertical-align: top;
}

.col-1 {
  margin-top: 10px;
}

.col-2 {
  margin: 10px 0 0 40px;
}

#email {
  margin-top: 12px;
  margin-right: 5px;
  width: 273px;
}

#email-label {
  width: 100px;
}

.attendance-form .attendance-table-attendance-col label {
  padding: 12px;
}

#address-view-table td.checkbox-table-col {
  padding: 0px;
}

#map-panel {
  margin: 10px;
  width: 400px;
}

#address-map-panel {
  margin: auto;
  width: 500px;
}

#map-legend {
  border: 1px gray solid;
  margin: 20px;
  border-radius: 5px;
  /* width: 500px; */
}

.map-legend-item {
  display: inline-block;
  padding: 10px;
  margin: auto;
}

td.checkbox-table-col {
  text-align: center;
}

.attendance-form input[type=radio]{
  margin: 10px 5px 0px 20px;
}

.person_name, .person_name:visited {
  color: #404040;
}

.attendance-count {
  display: inline-block;
}

.app-content input {
  padding: 5px 6px;
}

.attendance-header {
  padding-left: 10px;
}

.add-person {
  margin-left: 10px;
}

.button--red {
  background: #D30500;
  color: white;
  border: 1px solid #A50400;
}

.date-field {
  width: 120px;
}

.checkbox-form-section {
    margin: 10px 0 10px 40px;
    width: 425px;
}

#number-of-attempts {
  width: 40px;
}
#files {
  margin: 10px;
}

#status {
  opacity: 1 !important;
  font-style: italic;
  font-weight: bold;
}

#drop_zone {
  border: 2px dashed #bbb;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold 'Helvetica';
  color: #bbb;
}

#progress-bar,
#status {
  width: 90%;
  margin: 10px auto;
  padding: 3px;
  font-size: 14px;
  clear: both;
  opacity: 0;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}
#progress-bar.loading,
#status.loading{
  opacity: 1.0;
}
#progress-bar #percent {
  background-color: #99ccff;
  height: auto;
  width: 0;
}

.app-content.view-person .row {
   margin-left: 24px;
   margin-right: 24px;
}

.manage-account-form label {
	width: 175px !important;
	text-align: right;
	margin-bottom: 15px;
}

.app-content.manage-account-form .row {
    margin-left: 24px;
    margin-right: 24px;
}

/* Bootstrap overrides */
.table>thead>tr>th {
  vertical-align: bottom;
  border: 2px solid #ddd;
  background: #007235;
  color: white;
}
table th {
  text-align: center;
}

#search-by-address,
#search-by-name {
	display: inline-block;
}

/* Larger Screens - desktops and tablets */
@media all and (min-device-width:1200px) {
  .container {
    max-width: 900px;
  }
  td.attendance-table-attendance-col {
    text-align: center;
  }
  .delete-follow-up, .delete-relationship {
    margin-left: 5px;
  }
}


@media all and (min-device-width:800px) {
  td.attendance-table-attendance-col {
    text-align: center;
  }
}

@media all and (max-width:600px) {
  
}

@media all and (min-width:800px) {
  .xlarge {
    font-size: 42px;
    font-weight: 300;
    line-height: 1.2381em;
  }
  .large {
    font-size: 26px;
    font-weight: 300;
    line-height: 1em;
  }
  
  .col-1, .col-2 {
    display: inline-block;
  }
  .col-2 {
    vertical-align: top;
  }
}

@media all and (max-width:799px) {
  .navigation-links {
    float: none;
    margin-left: 10px;
  }
  .navigation-links > label {
    padding-left: 0;
  }
  .navigation-links > div {
    display: block;
  }
  .attendance-stats {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

@media all and (max-width:999px) and (min-width:765px) {
    body {
      padding-top: 100px;  /* Shift everything down to account for the navbar */
    }
    .row .panel label {
      text-align: left;
      padding-left: 0;
    }
    .row .campuses label {
      width: 135px;
    }
}

@media all and (max-width:799px) and (orientation:portrait) {
  .app-bar input {
    display: none;
  }
  .btn-text {
    display: none;
  }
  .checkbox-form-section {
    margin: 10px 0 10px 20px;
    width: 225px;
  }
  .check {
    display: block;
  }
  #starting-point-notified-label {
    width: 170px !important;
  }
  
  .app-content.login-form label,
  .app-content.view-person label,
  .app-content.manage-account-form label{
    text-align: left;
    padding-left: 20px;
    vertical-align: top;
  }
  #attender-status {
    margin-left: 20px;
    margin-right: 105px;
  }
  .app-content.login-form input,
  .app-content.view-person input,
  #first-recorded-visit,
  #last-recorded-visit  {
    margin-left: 20px;
    display: block;
  }

  #email {
    width: 210px;
  }
  .phone-panel > input {
    width: 135px;
  }

  #map-panel {
    width: 300px;
  }
}

@media all and (max-width:799px) {
    .follow-ups-form-inner #follow-up-comments,
    .follow-ups-form-inner .communication-card-options,
    #follow-up-options {
      margin-left: 0px;
    }
    
    .follow-ups-form-inner > label,
    #follow-up-person-container > label,
    #follow-up-frequency-container > label
    #follow-up-options > label {
      padding-left: 0px;
      text-align: left;
      display: block;
    }

    #follow-up-unknown-date-container {
        display: block;
    }
    #follow-up-unknown-date-container > label {
        padding-left: 0px;
        text-align: left;
    }

    .ui-dialog .ui-dialog-content {
        padding: .5em 0 !important;
    }

    #address-map-panel {
      width: 320px;
    }
    #map-panel img,
    #address-map-panel img {
      width: 320px;
    }
}

.form-section.checkbox-form-section input,
.checkbox-panel .panel-body input {
    margin-left: 10px;
}
.form-section.checkbox-form-section label, 
.checkbox-panel .panel-body label {
    text-align: left;
    padding-left: 5px;
}

#starting-point-notified-label {
    width: 240px;
}

.check {
  display: inline-block;
}

#map-note {
    margin: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: right;
}
body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.ui-datepicker-calendar td,
.ui-datepicker-calendar th {
  display: table-cell;
}
.ui-datepicker-calendar td:before {
  display: none;
}
