/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family:  'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  background-color: #FFFFFF;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #009344;
  overflow: hidden;
  z-index: 1;
}

.app-bar-container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
}

.app-bar.open,
.app-bar.open ~ main {
  -webkit-transform: translate(250px, 0);
  transform: translate(250px, 0);
}

.app-bar .logo {
  -webkit-flex: 1;
  flex: 1;
  font-size: 2em;
  line-height: 60px;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-family:  'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  line-height: 60px;
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar-actions {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  z-index: 2;
}

.app-bar input {
  padding-left: 5px;
}

.app-bar button {
  width: 45px;
  height: 45px;
  color: white;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
  width: 60px;
  height: 60px;
}

.app-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.app-bar button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

button.menu img {
  height:24px;
  width: 24px;
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.base, p, ul, ol {
  font-size: 19px;
}

.navdrawer-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: #007838;
  color: #fefefe;
  -webkit-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
  overflow-y: scroll;
}

.navdrawer-container.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.app-bar, .navdrawer-container, main {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
}

.navdrawer-container h4 {
  background-color: white;
  color: #007838;
}

.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a {
  display: block;
  text-decoration: none;
  color: white;
  transition: background-color 0.2s ease-out;
}

.navdrawer-container ul li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0;
}

.navdrawer-container ul li:before {
  content: none;
}

.navdrawer-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;
}

.background.color--gray-keyline {
  background-color: #e0e0e0;
}

.form-bar {
  display: -webkit-flex;
  display: flex;
}

.form-bar > button {
  margin: 10px 10px 10px 0;
}

.first-button {
  margin-left: 10px !important;
}

.spacer {
  -webkit-flex: 1;
  flex: 1;
}

#password {
  margin-bottom: 20px;
}

.app-content {
  border: 1px solid gray;
  padding-top: 20px;
}

#go-arrow {
  margin-left: 7px;
}

.attendance-search {
  display: inline-block;
  float: left;
  padding-top: 70px;
}

.attendance-stats {
  display: inline-block;
  padding: 0;
  margin: 0;
  float: right;
  margin: 0 20px 10px 0;
}

.attendance-stats > table {
  margin-top: 10px;
}

.attendance-table-container {
  max-height: 500px;
  width: 100%;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#address-view-table-container {
  max-height: 500px;
  width: 100%;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#gen-map {
  margin-left: 20px;
}

.dialog-form-inner>label[for=add-to-spouse] {
  width: 120px;
}

#follow-up-table-container {
  max-height: 500px;
  width: 100%;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#relationship-table-container {
  max-height: 500px;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#follow-up-table td {
  padding: 5px 10px;
}

#attendance-date-display {
  text-align: center;
  /* border-bottom: 1px solid; */
  /* border-top: 1px solid; */
  padding: 0px;
}

.navigation-links {
  display: inline-block;
  float: right;
  margin: 20px;
}

.navigation-links > div {
  display: inline-block;
}

.jump-to {
  margin-right: 10px;
}

.dialog-form #search-table-container {
  overflow-y: scroll;
  height: 198px;
  width: 464px;
}

.dialog-form .navigation-links {
  margin: 0 20px 0 0;
}

.search-form #search-table-container {
  overflow-y: scroll;
  max-height: 500px;
}

.dialog-form #search-table-container table {
  margin-top: 5px;
}

.dialog-form #search-table-container table td {
  padding: 8px 10px;
}

.search-table-button-col {
  padding: 5px;
}

#person-attendance-table-container {
  overflow-y: scroll;
  height: 300px;
}

.relationship-table-button-col {
  width: 90px !important;
  padding: 0 0 0 10px !important;
  text-align: center;
}

.follow-up-table-button-col {
  width: 90px !important;
  padding: 0 0 0 10px !important;
  text-align: center;
}

.follow-up-table-date-col {
  width: 80px !important;
  padding: 0 10px 0 10px;
}

.follow-up-table-comments-col {
  width: 200px !important;
}

.attendance-table-attendance-col {
  width: 30px !important;
}

.report-attendance-table-attendance-col {
  text-align: center;
}

.attendance-history-button {
  margin-right: 10px;
}

.app-content label {
  padding-left: 20px;
  padding-right: 10px;
}

.app-content.login-form {
  padding-top: 20px;
  /* margin-left: 20px; */
}

.app-content.login-form label,
.app-content.reports-form label {
  display: inline-block;
  width:150px;
  text-align: right;
}

#follow-ups-form-title {
  margin-left: 20px;
}

#follow-up-person-container,
#relationship-person-container {
  display: -webkit-flex;
  display: flex;
}
#follow-up-person-container>label {
  padding-top: 10px;
  width: 110px;
  text-align: right;
}
#relationship-person-container>label {
  padding-top: 10px;
  width: 70px;
}
.manage-person-relationship-form .dialog-form-inner>label {
  width: 70px;
}

#follow-up-person-container>button,
#relationship-person-container>button {
  margin-top: 0;
}

#follow-up-person-container>div,
#relationship-person-container>div{
  display: inline-block;
  padding-right: 20px;
  padding-top: 10px;
  font-style: italic;
}

.follow-ups-form #follow-up-comments {
  margin-left: 110px;
}

.follow-ups-form-inner>label {
  display: inline-block;
  width: 110px;
  text-align: right;
}

.follow-ups-form-inner > .communication-card-options {
  margin-left: 112px;
}

.dialog-form-inner>label {
  display: inline-block;
  width: 50px;
}

.dialog-form-inner {
  height: 256px;
  overflow-y: scroll;
}

#follow-up-visitors {
  font-style: italic;
  display: inline;
}

#first-recorded-visit {
  display: inline-block;
}

#manage-unknown-date {
  margin-left: 25px;
}

.check-field {
  display: inline-block;
}

.check-field input {
  margin: 0 5px 0 0;
}
.check-field label {
  padding-right: 15px;
}

.app-content .check-field label {
  padding-left: 0px;
}

.app-content.view-person,
.app-content.reports-form {
  padding-top: 20px;
}

.app-content.view-person label {
  display: inline-block;
  width: 175px;
  text-align: right;
}

.app-content .active-input label {
  padding-left: 0px;
  padding-right: 0px;
}

.app-content .active-input {
/*  display: inline-block;*/
}

.app-form input[type=text],
.app-form input[type=tel],
.app-form input[type=email],
.app-form select {
  margin-bottom: 5px;
}

.delete-follow-up, .delete-relationship {
  color: red;
}

.form-section {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 10px 5px 0;
}

#address-view-table label {
  width: 90px;
  padding: 0px;
  text-align: center;
}

.address-view-form label {
  width: 120px;
  text-align: right;
  display: inline-block;
}

#communication-card-header {
  padding: 10px 0 5px 20px;
}

.follow-ups-form {
  margin: 20px;
  border: 1px gray solid;
  border-radius: 5px;
}

.follow-ups-form-inner {
  padding: 10px;
}

#follow-up-options {
  margin: 5px 0 0 50px;
  border: 1px gray solid;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
}

#follow-up-options > label {
  width: 270px;
  text-align: left;
  padding-left: 10px;
}

.address-form-section {
  margin: 0 0 10px 65px;
}

.address-form-section > label {
  width: 100px !important;
}

.contact-form-section-title {
  padding: 0 0 0 40px;
}
.contact-form-section {
  margin: 0 0 0 40px;
}

.form-section.interested-form-section>label,
.form-section.commitments-form-section>label {
  width:500px;
  text-align: left;
}

.commitments-form-section-title,
.interested-form-section-title {
  padding: 0 0 0 40px;
}
.commitments-form-section,
.interested-form-section {
  margin: 0 0 10px 40px;
}
.communication-card-options .commitments-form-section-title,
.communication-card-options .interested-form-section-title{
  padding: 0;
}
.communication-card-options .commitments-form-section,
.communication-card-options .interested-form-section {
  margin: 0 0 10px 0;
}
.commitments-form-section > input {
  margin: 0 10px;
}
.commitments-form-section > label {
  padding-left: 5px;
}

.interested-form-section > input {
  margin: 0 10px;
}
.interested-form-section > label {
  padding-left: 5px;
}

.col-1 {
  margin-top: 10px;
}

.col-2 {
  margin: 10px 0 0 40px;
}

#email {
  width: 273px;
}

.attendance-form .attendance-table-attendance-col label {
  padding: 12px;
}

#address-view-table td.checkbox-table-col {
  padding: 0px;
}

#map-panel {
  margin: 10px;
  width: 400px;
}

#address-map-panel {
  margin: auto;
  width: 500px;
}

#map-legend {
  border: 1px gray solid;
  margin: 20px;
  border-radius: 5px;
  /* width: 500px; */
}

.map-legend-item {
  display: inline-block;
  padding: 10px;
  margin: auto;
}

td.checkbox-table-col {
  text-align: center;
}

.attendance-form input[type=radio]{
  margin: 10px 5px 0px 20px;
}

.person_name, .person_name:visited {
  color: #404040;
}

.attendance-count {
  display: inline-block;
}

.app-content input {
  padding: 5px 6px;
}

.attendance-header {
  padding-left: 10px;
}

.add-person {
  margin-left: 10px;
}

.button--red {
  background: #D30500;
  color: white;
  border: 1px solid #A50400;
}

.date-field {
  width: 120px;
}

.checkbox-form-section {
    margin: 10px 0 10px 40px;
    width: 425px;
}

#number-of-attempts {
  width: 40px;
}
#files {
  margin: 10px;
}

#status {
  opacity: 1 !important;
  font-style: italic;
  font-weight: bold;
}

#drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold 'Helvetica';
  color: #bbb;
}

#progress-bar,
#status {
  width: 90%;
  margin: 10px auto;
  padding: 3px;
  font-size: 14px;
  clear: both;
  opacity: 0;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}
#progress-bar.loading,
#status.loading{
  opacity: 1.0;
}
#progress-bar #percent {
  background-color: #99ccff;
  height: auto;
  width: 0;
}

/* Larger Screens - desktops and tablets */
@media all and (min-device-width:1200px) {
  .app-bar {
    position: relative;
  }

  .app-bar-container {
    display: block;
    height: 130px;
    max-width: 864px;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #009344;
  }

  .app-bar .logo {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 130px;
    font-size: 46px;
  }
  
  .app-bar-actions {
    float: right;
    margin: 42px 0;
  }

  .app-bar:after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  nav {
    display: block;
    margin-top: 130px;
  }

  .navdrawer-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 130px;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: none;
    overflow-y: auto;
  }

  .navdrawer-container h4 {
    display: none;
  }

  .navdrawer-container ul {
    display: -webkit-flex;
    display: flex;
    max-width: 864px;
    margin: 0 auto;
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .navdrawer-container ul li {
    border: none;
  }

  main {
    max-width: 864px;
    padding-top: 0;
    min-height: initial;
  }

  .navdrawer-container {
    position: relative;
    margin-top: 0;
  }

  td.attendance-table-attendance-col {
    text-align: center;
  }
  .delete-follow-up, .delete-relationship {
    margin-left: 5px;
  }
}

@media all and (min-device-width:1200px) and (max-width:800px) {
  .app-bar .logo {
    float: none;
    width: 100%;
    line-height: normal;
    text-align: center;
    padding-top: 36px;
  }

  .app-bar-container {
    height: auto;
  }

  .app-bar-actions {
    width: 100%;
  }
  
  .navdrawer-container {
    padding: 0 16px;
    overflow-y: auto;
  }

  .navdrawer-container li {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
  }
}

@media all and (min-device-width:800px) {
  td.attendance-table-attendance-col {
    text-align: center;
  }
}

@media all and (max-width:600px) {
  
}

@media all and (min-width:800px) {
  .app-content .active-input {
/*    display: inline-block;*/
  }
  
  .col-1, .col-2 {
    display: inline-block;
  }
  .col-2 {
    vertical-align: top;
  }
  .address-form-section-title {
    padding: 10px 0 0 50px;
  }
  .address-form-section {
    margin: 0 0 10px 50px;
  }
}

@media all and (max-width:799px) {
  .address-form-section-title {
    padding: 10px 0 0 65px;
  }
  .navigation-links {
    float: none;
  }
  .navigation-links > div {
    display: block;
  }
  .attendance-stats {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
@media all and (max-width:799px) and (orientation:portrait) {
  .app-bar input {
    display: none;
  }
  .btn-text {
    display: none;
  }
  .checkbox-form-section {
    margin: 10px 0 10px 20px;
    width: 225px;
  }
  .checkbox {
    display: block;
  }
  
  .app-content.login-form label,
  .app-content.view-person label{
    text-align: left;
    padding-left: 20px;
    vertical-align: top;
  }
  #attender-status {
    margin-left: 20px;
    margin-right: 105px;
  }
  .app-content.login-form input,
  .app-content.view-person input,
  .address-form-section select,
  #first-recorded-visit,
  .contact-form-section-title,
  .contact-form-section,
  .address-form-section-title,
  .commitments-form-section-title,
  .interested-form-section-title  {
    margin-left: 20px;
  }
  #first-recorded-visit {
    display: block;
  }
  .contact-form-section-title,
  .address-form-section-title,
  .commitments-form-section-title,
  .interested-form-section-title {
    padding: 10px 0 0 0;
  }
  .contact-form-section {
    width: 255px;
  }
  #email {
    width: 210px;
  }
  .phone-panel > input {
    width: 135px;
  }
  .address-form-section {
    margin: 0 0 10px 20px;
    width: 255px;
  }
  #map-panel {
    width: 300px;
  }
  .commitments-form-section,
  .interested-form-section {
    margin: 0 0 10px 20px;
    width: 255px;
  }
  .app-content.view-person .commitments-form-section label,
  .app-content.view-person .interested-form-section label{
    padding-left: 0px;
    padding-bottom: 5px;
    width: 185px;
  }
}
.form-section.checkbox-form-section input {
    margin-left: 10px;
}
.form-section.checkbox-form-section label {
    text-align: left;
    padding-left: 5px;
}

.checkbox {
  display: inline-block;
}

#map-note {
    margin: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: right;
}
body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.ui-datepicker-calendar td,
.ui-datepicker-calendar th {
  display: table-cell;
}
.ui-datepicker-calendar td:before {
  display: none;
}