/**
*
* Link
*
**/

a {
  color: $colorGreen;
}

a:hover {
  text-decoration: none;
}

.cta--primary {
  @include style-cta($colorGreen, $icon-chevron-right);
}

.cta--secondary {
  @include style-cta($colorGreen);
}
